html {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  font-size: 62.5%;
}

body {
  line-height: 1.6;
  font-family: cursive;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.accordion-wrapper {
  min-width: 40rem;
  max-width: 60rem;
}
.accordion_title {
  min-width: 40rem;
  max-width: 60rem;
  height: 5rem;
  background-color: rgb(10, 10, 10);
  color: #fff;
  line-height: 5rem;
  padding: 0 1rem;
  text-transform: capitalize;
  font-weight: 600;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon {
  color: #fff;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}
.rotate {
  transform: rotatex(180deg);
  -webkit-transform: rotatex(180deg);
  -moz-transform: rotatex(180deg);
  -ms-transform: rotatex(180deg);
  -o-transform: rotatex(180deg);
}
.accordion_title:hover {
  background-color: rgb(30, 30, 30);
}
.accordion_caption {
  min-width: 40rem;
  max-width: 60rem;
  height: 0;
  overflow: hidden;
  background-color: rgb(30, 30, 50);
  text-align: justify;
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}
p {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.open {
  height: 10rem;
}